* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

button,
input {
  background: none;
  border: none;
}
button:focus, button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Marcellus";
  src: url("../fonts/Marcellus-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  position: relative;
}

header {
  background-color: #ff4f47;
  padding: 10px 60px;
  display: flex;
  gap: 20px;
}
header nav {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}
header nav a {
  font-family: "Nunito";
  text-transform: uppercase;
  font-size: 18px;
  color: transparent;
  background: linear-gradient(to right, #202954 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  background-clip: text;
  transition: background-position 0.5s ease;
  text-align: center;
}
header nav a:hover {
  background-position: left bottom;
}
header .burger-btn {
  display: none;
}
@media (min-width: 992px) {
  header .close-burger {
    display: none;
  }
}
@media (max-width: 991.98px) {
  header {
    background-color: #202954;
    justify-content: space-between;
  }
  header nav {
    position: fixed;
    top: 0;
    flex-direction: column;
    height: 100dvh;
    background-color: #202954;
    right: 0;
    justify-content: center;
    max-width: 30%;
    z-index: 15;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.19, 0.43, 0.37, 1);
  }
  header .close-burger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
  }
  header .js-nav {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.19, 0.43, 0.37, 1);
  }
  header .burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  header {
    background-color: #a7a7a7;
  }
}

.overlay {
  display: none;
}
@media (max-width: 991.98px) {
  .overlay {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #202954;
    z-index: 12;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
.overlay.js-overlay {
  opacity: 0.7;
  display: block;
  transition: opacity 0.5s ease-in-out;
}

main {
  padding: 30px 60px;
  position: relative;
}
main .main-top .breadcrumbs ul {
  display: flex;
  list-style: none;
}
main .main-top .breadcrumbs ul li:not(:last-of-type):after {
  content: "/";
  margin: 0 5px;
}
main .main-top .breadcrumbs ul li a {
  color: #202954;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 14px;
  position: relative;
}
main .main-top .breadcrumbs ul li a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #202954;
  transform-origin: left;
  bottom: 0;
  transition: transform 0.5s ease-in;
  transform: scaleX(0);
}
main .main-top .breadcrumbs ul li a:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in;
  transform-origin: right;
}
main .main-top .breadcrumbs ul li span {
  color: #ff4f47;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 14px;
}
main .main-top h1 {
  font-family: "Marcellus";
  color: #202954;
  font-size: 36px;
  margin: 30px auto;
  width: fit-content;
}
main .main-top .top-cold-content {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .main-top .top-cold-content .cc-container {
  font-family: "Nunito";
  font-weight: 300;
  font-size: 16px;
  color: #202954;
  max-width: 60%;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 20px;
  height: 55px;
  max-height: 55px;
  -webkit-box-orient: vertical;
  position: relative;
  transition: all 0.5s ease-in-out;
}
main .main-top .top-cold-content .cc-container.expanded {
  -webkit-line-clamp: unset;
  max-height: 500px;
  height: auto;
  transition: all 0.5s ease-in-out;
}
main .main-top .top-cold-content .cc-container.expanded:after {
  opacity: 0;
}
main .main-top .top-cold-content .cc-container:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  background: linear-gradient(0deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  height: 30px;
}
main .main-top .top-cold-content .read-more-btn {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  color: #202954;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}
main .main-top .top-cold-content .read-more-btn:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #ff4f47;
  transform-origin: left;
  bottom: 0;
  transition: transform 0.5s ease-in;
  transform: scaleX(0);
  z-index: 1;
}
main .main-top .top-cold-content .read-more-btn .read-more {
  z-index: 2;
  position: relative;
}
main .main-top .top-cold-content .read-more-btn:hover {
  color: #ff4f47;
}
main .main-top .top-cold-content .read-more-btn:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in;
  transform-origin: right;
}
main .filters-products-container {
  display: flex;
  justify-content: space-between;
}
main .filters-products-container .filters {
  width: calc(25% - 15px);
}
main .filters-products-container .filters-top {
  font-size: 18px;
  font-weight: 700;
  font-family: "Marcellus";
  color: #ff4f47;
  margin-bottom: 10px;
}
main .filters-products-container .filters-container div:nth-last-child(2) {
  border: 0;
}
main .filters-products-container .filters-container .filter-box {
  font-family: "Nunito";
  font-size: 14px;
  line-height: 16px;
  color: #202954;
  margin-bottom: 5px;
  padding: 10px 0;
  border-bottom: 1px solid #a7a7a7;
}
main .filters-products-container .filters-container .filter-box .filters-title {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
}
main .filters-products-container .filters-container .filter-box .filters-title img {
  transition: transform 0.75s ease-in-out;
  transform: rotate(0);
}
main .filters-products-container .filters-container .filter-box .filters-title.js-filters-title img {
  transform: rotate(180deg);
  transition: transform 0.75s ease-in-out;
}
main .filters-products-container .filters-container .filter-box .filters-list {
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 500px;
  height: auto;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}
main .filters-products-container .filters-container .filter-box .filters-list.js-filters-list {
  transition: all 0.75s ease-in-out;
  height: 0;
  overflow-y: hidden;
  max-height: 0;
  opacity: 0;
}
main .filters-products-container .filters-container .filter-box .filters-list .filters-item-count {
  color: #a7a7a7;
  margin-left: 5px;
}
main .filters-products-container .filters-container .filter-box .view-all-FI {
  padding: 5px 0;
  display: block;
  cursor: pointer;
}
main .filters-products-container .filters-container .filter-box .view-all-FI:hover {
  text-decoration: underline;
}
main .filters-products-container .filters-container .filter-box.custom-checkbox .filters-item .checkbox-label {
  position: relative;
  padding-left: 21px;
  display: flex;
  align-items: center;
}
main .filters-products-container .filters-container .filter-box.custom-checkbox .filters-item input {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  left: 0;
  cursor: pointer;
}
main .filters-products-container .filters-container .filter-box.custom-checkbox .filters-item input::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border: 1px solid #202954;
  border-radius: 5px;
  margin-top: -2px;
  z-index: 3;
  position: relative;
}
main .filters-products-container .filters-container .filter-box.custom-checkbox .filters-item input:checked::before {
  background-color: #202954;
}
main .filters-products-container .filters-container .filter-box.custom-checkbox .filters-item input:checked::after {
  content: url(../images/filter-checked-icon.svg);
  width: 14px;
  height: 14px;
  display: block;
  z-index: 4;
  position: absolute;
  top: -4px;
  left: -2px;
}
main .filters-products-container .filters-container .view-all-filters {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  font-family: "Nunito";
  text-transform: uppercase;
  color: #202954;
}
main .filters-products-container .filters-container .view-all-filters:hover {
  text-decoration: underline;
}
main .filters-products-container .products {
  width: calc(75% - 15px);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 10px;
}
main .filters-products-container .products .product-tile {
  padding: 5px;
  border: 1px solid rgba(167, 167, 167, 0.6470588235);
}
main .filters-products-container .products .product-tile .image-container {
  border: 1px solid #ff4f47;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
main .filters-products-container .products .product-tile .image-container img {
  width: auto;
  height: 100%;
}
main .filters-products-container .products .product-tile .info-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 5px;
  color: #202954;
}
main .filters-products-container .products .product-tile .info-container .labels-container {
  display: flex;
  gap: 5px;
  overflow-x: auto;
}
main .filters-products-container .products .product-tile .info-container .labels-container-item {
  font-size: 12px;
  padding: 5px 10px;
  font-family: "Nunito";
  text-transform: uppercase;
}
main .filters-products-container .products .product-tile .info-container .labels-container-item.red {
  color: #fff;
  background-color: #ff4f47;
}
main .filters-products-container .products .product-tile .info-container .product-title {
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito";
  max-height: 40px;
  color: #202954;
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
main .filters-products-container .products .product-tile .info-container .product-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Nunito";
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
main .filters-products-container .products .product-tile .info-container .price-container {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-family: "Nunito";
}
main .filters-products-container .products .product-tile .info-container .price-container .price {
  font-size: 18px;
  font-weight: 600;
}
main .filters-products-container .products .product-tile .info-container .price-container .old-price {
  color: #a7a7a7;
  font-size: 14px;
  text-decoration: line-through;
}
main .filters-products-container .products .product-tile .info-container .price-container.sale-price .price {
  color: #ff4f47;
}
main .filters-products-container .products .product-tile .info-container .product-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px solid #202954;
  color: #202954;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Nunito";
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  transition: color 0.75s ease-in-out;
}
main .filters-products-container .products .product-tile .info-container .product-btn span {
  z-index: 5;
}
main .filters-products-container .products .product-tile .info-container .product-btn:before {
  content: "";
  position: absolute;
  color: #fff;
  background-color: #202954;
  transform: translateX(-100%);
  transition: transform 0.75s ease-in-out;
  width: 100%;
  height: 100%;
}
main .filters-products-container .products .product-tile .info-container .product-btn:hover {
  color: #fff;
  transition: color 0.75s ease-in-out;
}
main .filters-products-container .products .product-tile .info-container .product-btn:hover:before {
  transform: translateX(0);
  transition: transform 0.75s ease-in-out;
}
main .js-none {
  display: none !important;
}
main .main-bottom {
  font-family: "Nunito";
  font-size: 16px;
  color: #202954;
  text-align: center;
  font-weight: 300;
  margin-top: 30px;
}
main .main-bottom .bottom-cold-content {
  max-width: 60%;
  margin: 0 auto;
}

footer {
  padding: 15px 60px;
  display: flex;
  background-color: #202954;
  justify-content: space-between;
  align-items: center;
}
footer .footer-links-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 70%;
}
footer .footer-links-container .links-title {
  margin-bottom: 15px;
  display: block;
  color: #f5f5f5;
  font-family: "Nunito";
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
}
footer .footer-links-container ul {
  list-style: none;
}
footer .footer-links-container ul li {
  padding-bottom: 10px;
}
footer .footer-links-container ul li a {
  color: #f5f5f5;
  position: relative;
  font-family: "Nunito";
  font-size: 16px;
}
footer .footer-links-container ul li a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f5f5f5;
  transform-origin: left;
  bottom: 0;
  transition: transform 0.5s ease-in;
  transform: scaleX(0);
}
footer .footer-links-container ul li a:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in;
  transform-origin: right;
}