@import "reset";
@import "mixins";
@import "fonts&variables";

body {
  position: relative;
}

header {
  background-color: $color-red;
  padding: 10px 60px;
  display: flex;
  gap: 20px;

  nav {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;

    a {
      font-family: $font-nunito;
      text-transform: uppercase;
      font-size: 18px;
      color: transparent;
      background: linear-gradient(to right, #202954 50%, #fff 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      background-clip: text;
      transition: background-position 0.5s ease;
      text-align: center;

      &:hover {
        background-position: left bottom;
      }
    }
  }

  .burger-btn {
    display: none;
  }

  @include media-up(m) {
    .close-burger {
      display: none;
    }
  }

  @include media-down(m) {
    background-color: $color-navyBlue;
    justify-content: space-between;

    nav {
      position: fixed;
      top: 0;
      flex-direction: column;
      height: 100dvh;
      background-color: $color-navyBlue;
      right: 0;
      justify-content: center;
      max-width: 30%;
      z-index: 15;
      width: 100%;
      transform: translateX(100%);
      transition: transform .5s cubic-bezier(0.19, 0.43, 0.37, 1);

    }

    .close-burger {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
    }

    .js-nav {
      display: flex;
      transform: translateX(0);
      transition: transform .5s cubic-bezier(0.19, 0.43, 0.37, 1);

    }

    .burger-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include media-down(s) {
    background-color: $color-gray;

    nav {
      max-width: 50%;
    }
  }

  @include media-down(xs) {
    nav {
      max-width: 100%;
    }
  }
}

.overlay {
  display: none;

  @include media-down(m) {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #202954;
    z-index: 12;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  &.js-overlay {
    opacity: .7;
    display: block;
    transition: opacity .5s ease-in-out;
  }
}

main {
  padding: 30px 60px;
  position: relative;

  .main-top {
    .breadcrumbs {
      ul {
        display: flex;
        list-style: none;

        li {
          &:not(:last-of-type) {
            &:after {
              content: "/";
              margin: 0 5px;
            }
          }

          a {
            color: $color-navyBlue;
            font-family: $font-nunito;
            font-weight: 500;
            font-size: 14px;
            position: relative;

            &:before {
              content: "";
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              border-bottom: 2px solid $color-navyBlue;
              transform-origin: left;
              bottom: 0;
              transition: transform .5s ease-in;
              transform: scaleX(0);
            }

            &:hover {
              &:before {
                transform: scaleX(1);
                transition: transform .5s ease-in;
                transform-origin: right;
              }
            }

          }

          span {
            color: $color-red;
            font-family: $font-nunito;
            font-weight: 300;
            font-size: 14px;
          }
        }
      }
    }

    h1 {
      font-family: $font-marcellus;
      color: $color-navyBlue;
      font-size: 36px;
      margin: 30px auto;
      width: fit-content;
    }

    .top-cold-content {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .cc-container {
        font-family: $font-nunito;
        font-weight: 300;
        font-size: 16px;
        color: $color-navyBlue;
        max-width: 60%;
        text-align: center;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        line-height: 20px;
        height: 55px;
        max-height: 55px;
        -webkit-box-orient: vertical;
        position: relative;
        transition: all .5s ease-in-out;

        &.expanded {
          -webkit-line-clamp: unset;
          max-height: 500px;
          height: auto;
          transition: all .5s ease-in-out;

          &:after {
            opacity: 0;
          }
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          background: #ffffff;
          background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
          height: 30px;
        }
      }

      .read-more-btn {
        font-family: $font-nunito;
        font-size: 16px;
        font-weight: 700;
        color: $color-navyBlue;
        cursor: pointer;
        margin: 10px 0;
        position: relative;
        cursor: pointer;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          border-bottom: 2px solid $color-red;
          transform-origin: left;
          bottom: 0;
          transition: transform .5s ease-in;
          transform: scaleX(0);
          z-index: 1;
        }

        .read-more {
          z-index: 2;
          position: relative;
        }

        &:hover {
          color: $color-red;

          &:before {
            transform: scaleX(1);
            transition: transform .5s ease-in;
            transform-origin: right;
          }
        }

      }
    }
  }

  .filters-products-container {
    display: flex;
    justify-content: space-between;

    .filters {
      width: calc(25% - 15px);

      &-top {
        font-size: 18px;
        font-weight: 700;
        font-family: $font-marcellus;
        color: $color-red;
        margin-bottom: 10px;
      }

      &-container {

        div:nth-last-child(2) {
          border: 0;
        }

        .filter-box {
          font-family: $font-nunito;
          font-size: 14px;
          line-height: 16px;
          color: $color-navyBlue;
          margin-bottom: 5px;
          padding: 10px 0;
          border-bottom: 1px solid $color-gray;



          .filters-title {
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
            cursor: pointer;

            img {
              transition: transform .75s ease-in-out;
              transform: rotate(0);
            }

            &.js-filters-title {
              img {
                transform: rotate(180deg);
                transition: transform .75s ease-in-out;
              }
            }
          }

          .filters-list {
            font-weight: 400;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-height: 500px;
            height: auto;
            opacity: 1;
            transition: all .75s ease-in-out;

            &.js-filters-list {
              transition: all .75s ease-in-out;
              height: 0;
              overflow-y: hidden;
              max-height: 0;
              opacity: 0;
            }

            .filters-item-count {
              color: $color-gray;
              margin-left: 5px;
            }

          }

          .view-all-FI {
            padding: 5px 0;
            display: block;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          &.custom-checkbox {
            .filters-item {
              .checkbox-label {
                position: relative;
                padding-left: 21px;
                display: flex;
                align-items: center;

              }

              input {
                position: absolute;
                width: 100%;
                height: 100%;
                appearance: none;
                left: 0;
                cursor: pointer;


                &::before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  display: block;
                  border: 1px solid $color-navyBlue;
                  border-radius: 5px;
                  margin-top: -2px;
                  z-index: 3;
                  position: relative;
                }

                &:checked {
                  &::before {
                    background-color: $color-navyBlue;
                  }

                  &::after {
                    content: url(../images/filter-checked-icon.svg);
                    width: 14px;
                    height: 14px;
                    display: block;
                    z-index: 4;
                    position: absolute;
                    top: -4px;
                    left: -2px;
                  }
                }
              }
            }
          }
        }

        .view-all-filters {
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;
          font-family: $font-nunito;
          text-transform: uppercase;
          color: $color-navyBlue;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      @include media-down(s) {
        position: sticky;
        top: 0;
        z-index: 25;

        &-top {
          cursor: pointer;
          background-color: $color-navyBlue;
          width: 100%;
          padding: 8px 16px;


          h2 {
            color: $color-white;
            text-transform: uppercase;
          }

        }

        &-container {
          position: absolute;
          bottom: 0;
          background-color: $color-white;
          transform: translateY(100%);
        }
      }
    }

    .products {
      width: calc(75% - 15px);
      display: grid;
      grid-template-columns: repeat(4, 24%);
      gap: 10px;

      .product-tile {
        padding: 5px;
        border: 1px solid #a7a7a7a5;

        .image-container {
          border: 1px solid $color-red;
          display: flex;
          overflow: hidden;
          justify-content: center;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .info-container {
          display: flex;
          flex-direction: column;
          padding: 10px 0;
          gap: 5px;
          color: $color-navyBlue;


          .labels-container {
            display: flex;
            gap: 5px;
            overflow-x: auto;

            &-item {
              font-size: 12px;
              padding: 5px 10px;
              font-family: $font-nunito;
              text-transform: uppercase;
              height: auto;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
              line-height: 19px;

              &.red {
                color: $color-white;
                background-color: $color-red;
              }

              &.navy {
                color: $color-white;
                background-color: $color-navyBlue;
              }

              &.green {
                background-color: #b2ff9e;

              }

              &.grey {
                background-color: #d9d9d9;
              }
            }


          }

          .product-title {
            line-height: 20px;
            min-height: 40px;
            font-size: 18px;
            font-weight: 600;
            font-family: $font-nunito;
            max-height: 40px;
            color: $color-navyBlue;
            height: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .product-description {
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            font-family: $font-nunito;
            height: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }

          .price-container {
            display: flex;
            align-items: flex-end;
            gap: 5px;
            font-family: $font-nunito;

            .price {
              font-size: 18px;
              font-weight: 600;
            }

            .old-price {
              color: $color-gray;
              font-size: 14px;
              text-decoration: line-through;
            }

            &.sale-price {
              .price {
                color: $color-red;
              }
            }

          }

          .product-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border: 2px solid $color-navyBlue;
            color: $color-navyBlue;
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer;
            font-family: $font-nunito;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
            transition: color .75s ease-in-out;

            span {
              z-index: 5;
            }

            &:before {
              content: "";
              position: absolute;
              color: $color-white;
              background-color: $color-navyBlue;
              transform: translateX(-100%);
              transition: transform .75s ease-in-out;
              width: 100%;
              height: 100%;
            }

            &:hover {
              color: $color-white;
              transition: color .75s ease-in-out;

              &:before {
                transform: translateX(0);
                transition: transform .75s ease-in-out;
              }

            }
          }
        }
      }

      @include media-down(m) {
        grid-template-columns: repeat(2, 49%);
      }

      @include media-down(xs) {
        grid-template-columns: repeat(1, 100%);

        .product-tile {
          display: flex;
          gap: 16px;

          .image-container {
            max-width: calc(35% - 8px);
            width: 100%;

            img {
              object-fit: cover;
            }
          }

          .info-container {
            max-width: calc(75% - 8px);
            width: 100%;
          }
        }
      }
    }

    @include media-down(s) {
      flex-direction: column;

      .filters,
      .products {
        width: 100%;
      }
    }
  }

  .js-none {
    display: none !important;
  }

  .main-bottom {
    font-family: $font-nunito;
    font-size: 16px;
    color: $color-navyBlue;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;

    .bottom-cold-content {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  @include media-down(s) {
    padding: 30px;
  }

  @include media-down(xs) {
    padding: 30px 16px;
  }
}



footer {
  padding: 15px 60px;
  display: flex;
  background-color: $color-navyBlue;
  justify-content: space-between;
  align-items: center;

  .footer-links-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 70%;

    .links-title {
      margin-bottom: 15px;
      display: block;
      color: #f5f5f5;
      font-family: $font-nunito;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: .5px;
    }

    ul {
      list-style: none;

      li {
        padding-bottom: 10px;

        a {
          color: #f5f5f5;
          position: relative;
          font-family: $font-nunito;
          font-size: 16px;

          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-bottom: 2px solid #f5f5f5;
            transform-origin: left;
            bottom: 0;
            transition: transform .5s ease-in;
            transform: scaleX(0);
          }

          &:hover {
            &:before {
              transform: scaleX(1);
              transition: transform .5s ease-in;
              transform-origin: right;
            }
          }
        }
      }
    }
  }
}

#scrollButton {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $color-navyBlue;
  z-index: 24;
  position: absolute;
  bottom: 30px;
  right: 30px;
  transform: translateY(100%);
  opacity: 0;
  transition: all .75s ease-in-out;
  position: fixed;

  img {
    pointer-events: none;
  }
}

.js-scroll-btn {
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: all .75s ease-in-out !important;
}